/* Jumbotron */
.jumbotron{
  background-image: url(Files/CPU.jpg);
  background-size: cover;
  color: white;
  margin-bottom: 0px;
}
/************************/

/* Navbar */
.navbar{
  color: #000;
  margin-bottom: 0px;
}
/************************/

/* Grey Panel */
.grey-panel .panel-body .row .thumbnail{
  background-color: #ddd;
  color: #000;
  border: 0 none;
  box-shadow: none;
}
.grey-panel .panel-body{
  background-color: #ddd;
  padding-top: 30px;
  padding-bottom: 30px;
}
.grey-panel .panel{
  margin-top: 0px;
  margin-bottom: 0px;
}
.grey-panel .panel-heading{
  background-image: none;
  background-color: #ddd;
}
/************************/

/* White Panel */
.white-panel .panel-body .row .thumbnail{
  background-color: #FFF;
  color: #000;
  border: 0 none;
  box-shadow: none;
}
.white-panel .panel-body{
  background-color: #FFF;
  padding-top: 30px;
  padding-bottom: 30px;
}
.white-panel .panel{
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0 none;
  box-shadow: none;
}
.white-panel .panel-heading{
  background-image: none;
  background-color: #fff;
  border: 0 none;
  box-shadow: none;
}
/************************/

/* Carousel */
.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-25%);
}
.carousel-inner img {
  margin: auto;
  min-width: 100%;
}

.carousel-inner{
  background-color: #ddd;
}


/********************/

/* Modals */

.modal-body{
  padding-top: 0px;
  padding-bottom: 0px;
}

/********************/
/*Text and Button Styles */

.carousel-text{
  color: #FFFFFF;
  text-shadow: 3px 3px 6px #000000, 1px 1px 2px #000000;
}

.carousel-button{
  color: #FFFFFF;
  background: none;
  border-radius: 0;
  border: 2px solid #FFFFFF;
  box-shadow: 3px 3px 6px #000000, 1px 1px 2px #000000;
}
